apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payment-service
  template:
    metadata:
      labels:
        app: payment-service
    spec:
      containers:
        - name: payment-service
          image: arbaz344/monorepo-demonstration:payment-service
          ports:
            - containerPort: 8080
          env:
            - name: PORT
              value: "8080"


